.currentWeather {
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $bp-large) {
      width: 50%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__location {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media only screen and (min-width: $bp-large) {
      margin: 3rem 0;
    }

    &-city {
      font-size: 4.8rem;
    }

    &-country {
      font-size: 2.4rem;
    }
  }

  &__temperature {
    text-align: center;
    position: relative;
    width: min-content;
    margin: 4rem 0 0;
    transform: translateX(-2.1rem);

    &-value {
      font-size: 7.2rem;
      font-weight: 700;
    }
    &-unit {
      font-size: 4.2rem;
      position: absolute;
      top: 0;
      right: -4.2rem;
    }
  }

  &__icon {
    width: 16rem;
    margin-bottom: 4rem;

    @media only screen and (min-width: $bp-large) {
      position: relative;
      transform: translateY(25%);
    }
  }

  &__details {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);

    @media only screen and (min-width: $bp-large) {
      width: 50%;
    }
  }
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  &-content {
    font-size: 2.2rem;
    font-weight: 700;
  }

  &-name {
    font-size: 1.6rem;
  }
}

.container {
  @media only screen and (min-width: $bp-large) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
